
* {
	box-sizing: border-box;
}

body {
  background-image: url('northern-lights.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	font-family: 'Ubuntu', sans-serif !important;
}

div.initials a {
	display: none;
}


h3 {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	font-size: 17px;
	color: #16324f;
	position: relative;
	left: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #9cbfc7;
	color: #ffffff;
	height: 50px;
	border-radius: 15px;
	overflow: hidden;
}

.hamburger {
	display: none;
}

.closeIcon {
	display: none;
}

.myNav a {
	float: left;
	display: flex;
	text-align: center;
	color: #16324f;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.myNav a.active {
	background-color: #04aa6d;
	color: #ffffff;
}

.menu {
	display: block;
	list-style: none;
	justify-items: stretch;
	width: 300px;
}

li {
	display: inline;
	justify-content: space-evenly;
	align-items: stretch;
	text-decoration: none;
	color: #16324f;
	margin: 0 0 0 5px;
}

li a:hover {
	background-color: #ddd;
	color: #000000;
}

.table {
	display: table;
	margin: 0 auto;
}

.menuItem {
	display: inline;
}

.main-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #16324f;
	color: #ffffff;
    height: 450px;
    width: 700px;
    margin-bottom: 15px;
	border-radius: 15px;

}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 20px;
}

p {
	display: flex;
	align-content: center;
	width: 80%;
	position: relative;
	left: 5%;
	margin: 20px;
}

.project-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.project-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
	margin: 20px;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.code-image img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 80%;
	margin-left: 10%;
}

div.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #16324f;
	color: #ffffff;
	width: 300px;
	border-radius: 15px;
	margin: 5px;
	padding: -50px;
}

div.project-item p {
	margin-right: 20%;
}

.buttons {
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
}

button.live, .code {
	display: inline;
	justify-content: space-evenly;
	align-items: stretch;
	flex-direction: column;
	background-color: #000000;
	color: #34a39a;
	border: 2px solid #34a39a;
	border-radius: 15px;
	padding-bottom: 2%;
	margin: 0 0 2% 20%;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #5911a4;
	height: 50px;
	border-radius: 15px;
	margin-top: 23%;
}

h4 {
	display: flex;
	justify-content: center;
	align-content: space-between;
	margin-right: 2%;
	margin-bottom: 1.5%;
}
.contacts {
	display: flex;
	justify-content: center;
	align-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	object-fit: contain;
}

footer a {
	margin-top: 1%;
}

@media screen and (max-width: 1000px) {

	.initials {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		width: 100%;
	}

	.navbar {
		display: none;
	}

	.menu {
		position: fixed;
		transform: translateY(-100%);
		transition: transform 0.2s;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		background: black;
		color: white;
		list-style: none;
		padding-top: 4rem;
	}

	.hamburger {
		position: fixed;
		width: 10px;
		height: 10px;
		z-index: 100;
		top: 1em;
		right: 1rem;
		padding: 4px;
		border: #000000 solid 1px;
		background: #ffffff;
		cursor: pointer;
	}

	.closeIcon {
		display: none;
	}

	.name {
		display: none;
	}

	div.initials a {
		display: flex;
	}

	h4 {
		margin: 1% 0 0 0;
	}

	footer a {
		display: flex;
		margin: 0 0 0.5% 0;
	}
}

@media screen and (max-width: 900px) {

	h4 {
		margin: 5% 0 0 0;
	}

	.contacts {
		margin: 0 0 4% 0;
	}
}

@media screen and (max-width: 850px) {

	footer a {
		margin: 4% 0 0 0;
	}
}

@media screen and (max-width: 700px) {

	.main-box {
		display: inline-block;
		width: 80%;
		margin: 2% 10% 2% 2%;
	}

	div.project-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
	}

	div.card {
		width: 100%;
	}

	h4 {
		margin: 0 0 5% 0;
	}

	footer a {
		margin: 2.5% 0 0 0;
	}
}

@media screen and (max-width: 600px) {
	h3.name.responsive {
		display: flex;
		justify-content: flex-start;
		align-content: flex-start;
		font-size: 10px;
		color: #16324f;
		margin-top: 10%;
	}

	.navbar.responsive {
		position: relative;
	}

	.navbar.responsive a {
		float: none;
		display: flex;
		text-align: left;
	}

	div.initials a.responsive {
		display: flex;
		justify-content: flex-start;
	}

	.main-box {
		display: inline-block;
		margin: 0 10% 0 0;
		position: relative;
		left: 11%;
		width: 77.5%;
	}

	h4 {
		margin: 4% 3% 0 0;
	}

	footer a {
		margin: 3% 0 1% 0 ;
	}
}
